body {
      margin: 0;
      background:white;
      font-family: Arial, sans-serif;
    }
   
    nav {
      background: #011218;
      padding: 10px;
      text-align: center;
    }
    nav a {
      color: white;
      text-decoration: none;
      margin: 0 20px;
      font-weight: bold;
    }